@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {				
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}


	/* nav开始 */
/* 	.w {
		width: 1020px ;
		margin: 0 auto;
	} */
	.site-nav {
		height: 30px;
		background-color: #f0f0f0;
		line-height: 30px;
	}
	.site-nav-send,
	.site-nav-r .fare {
		position: relative;
		padding: 0 25px 0 10px;
	}
	.site-nav-send:hover {
		background-color: #FFFFFF;
		
	}
	.site-nav-send i ,
	.fare i {
		position: absolute;
		top: 12px;
		right: 8px;
		width: 15px;
		height: 7px;
		overflow: hidden;
	}
	.site-nav-send s,
	.fare s {
		position: absolute;
		top: -7px;
		font:400 13px/15px "consolas";
	}
	.site-nav-r li {
		float:left;
		padding: 0 10px;
	}
	.site-nav-r .line {
		width: 1px;
		height: 12px;
		margin-top: 9px;
		padding: 0px;
		background: #DDD;
	}
	.site-nav-r .jd-tel {
		position: relative;
		padding-left: 25px;
	}
	.jd-tel span {
		position: absolute;
		width: 15px;
		height: 20px;
		top: 5px;
		left: 6px;
		background: url(../images/tel.png) no-repeat;
	}
	/* nav结束 */
	/* top-banner开始 */
	.top-banner {
		background-color: #FD6500;
	}
	.tb {
		position: relative;
	}
	.close-banner {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 19px;
		height: 19px;
		background: url(../images/close-banner.png) no-repeat;
	}
	.close-banner:hover {
		background-position: bottom;
	}
		
	/* top-banner结束 */
	
	/* search开始 */
	.search-logo {
		float: left;
		width: 362px;
		height: 60px;
		padding: 20px 0;
	}
	.search-logo a {
		width: 270px;
		height: 60px;
		text-indent: -9999px;
		display: block;
		background: url(../images/logo.png) no-repeat;
	}
	.search-input {
		padding-top: 25px;
		float: left;
		width: 542px;
	} 
	.search-input input {
		float: left;
		padding-left: 4px ;
		color: #ccc;
		font: 400 14px/32px "microsoft yahei";
		width: 454px;
		height: 32px;
		border: 2px solid #b61d1d;
		border-right: 0;
	}
	.search-input button {
		float: left;
		width: 82px;
		height: 36px;
		color: #fff;
		font: 400 14px/32px "microsoft yahei";
		cursor: pointer;
		background-color: #b61d1d;
	}
	.search-car {
		position: relative;
		float: right;
		width: 96px;
		height: 34px; 
		line-height: 34px;
		padding-left: 43px;
		border: 1px solid #dfdfdf;
		margin: 25px 65px 0 0 ;
	}
	.search-car .icon1 {
		position: absolute;
		top: 9px;
		left: 18px;
		width: 18px;
		height: 16px;
		background: url(../images/tel.png) no-repeat 0 -58px;
	}
	.search-car .icon2 {
		position: absolute;
		right: 10px;
		color: #999;
		font: 400 13px/34px "SimSun";
		line-height: 34px;
	}
	.search-car .icon3 {
		position: absolute;
		width: 16px;
		height: 14px;
		top: -5px ;
		line-height: 14px;
		text-align: center;
		background-color: #C81623;
		color: #fff;
		border-radius: 7px 7px 7px 0;
	}
	.search-more {
		float: left;
		width: 538px;
		height: 23px;
	}
	.search-more a {
		line-height: 23px;
		margin-right: 7px;
	}
	/* search结束 */
	
	/* shortcut-nav开始 */
	.shortcut-nav {
		width: 100%;
		height: 44px;
		border-bottom: 2px solid #b1191a;
	}
	.shortcut-nav-menu { 
		position: relative;
		float: left;
		width: 210px;
		height: 44px;
		z-index: 1;
	}
	.shortcut-nav-menu-all a {
		display: block;
		width: 190px;
		height: 44px;
		font: 400 15px/44px "microsoft yahei";
		padding:0 10px;
		background-color: #B1191A;
		color: #FFFFFF;
	}
	.shortcut-nav-menu-one {
	    height: 465px;
	    margin-top: 2px;
	    background-color: #C81623;
	    border-left: 1px solid #B1191A;
	    border-bottom: 1px solid #B1191A;
	}
	.shortcut-nav-menu-one div {
		height: 31px;
		padding: 0 10px;
		font: 400 14px/31px "microsoft yahei";
	}
	.shortcut-nav-menu-one div:hover {
		background-color: #fff;
		color: #C81623;
	}
	.shortcut-nav-menu-one h3 {
		float: left;
	}
	.shortcut-nav-menu-one a {
		color: #fff;
	}
	.shortcut-nav-menu-one i {
		float: right;
		color: #fff;
		font: 400 9px/31px "consolas";
	}
	.shortcut-nav-items {
		float: left;
		height: 44px;
		width: 730px;
	}
	.shortcut-nav-items li {
		float: left;
	}
	.shortcut-nav-items a {
		display: block;
		height: 44px;
		padding: 0 20px;
		color: #333;
		font: 400 15px/44px "microsoft yahei";
	}
	.shortcut-nav-items a:hover {
		color: #c81623;
	}
	.shortcut-nav-img {
		float: right;
		width: 200px;
		height: 44px;
		margin-right: 50px;
		margin-top: -10px;
	}
	/* shortcut-nav结束 */
	
	/* footer开始 */
	.footer-top-slogen {
		height: 94px;
		position: relative;
		margin-bottom: 34px;
		background-color: #F5F5F5;
	}
	.footer-top-slogen-icon {
		position: absolute; 
		left: 50%;
		top: 20px;
	}
	.footer-top-slogen-icon1 {
		margin-left: -604PX;
	}
	.footer-top-slogen-icon2 {
		margin-left: -302PX;
	}
	.footer-top-slogen-icon4 {
		margin-left: 302PX;
	}
	.footer-top-shopping dl {
		float: left;
		width: 200px;
	}
	.footer-top-shopping .last-dl{
		width: 100px;
	} 
	.footer-top-shopping dt ,
	.coverage .coverage-title {
		height: 34px;
		font: 400 14px/34px "microsoft yahei";
	}
	.footer-top-shopping dd,
	.footer-top-shopping .coverage .coverage-con {
		line-height: 20px;
	}
	.coverage {
		float: right;
		width: 203px;
		height: 169px;
		margin-right:20px;
		padding-left: 20px;
		background: url(../images/china.png) no-repeat left bottom;
	}
	.coverage a {
		float: right;
	}
	.footer-bottom {
		border-top: 1px solid #e5e5e5;
		margin-top: 20px;
		text-align: center;
		padding: 20px 0 30px 0;
	}
	.footer-bottom-links a {
		margin: 0 10px;
	}
	.footer-bottom-copyright .con {
		padding: 10px 0;
	}
	.footer-bottom-img a {
		margin: 0 5px;
	}
	/* footer结束 */
