@charset "utf-8";
	/* main开始 */
	.main {
		position: relative;
	}
	.main-slider {
		position: relative;
		float: left;
		width: 730px;
		height: 454px;
		margin: 12px 0 0 220px ;
	}
	.main-slider ul {
		position: absolute;
		left: 50%;
		bottom: 10px;
		
	}
	.main-slider li {
		float: left;
		width: 18px;
		height: 18px;
		background-color: #333333;
		color: #fff;
		border-radius: 50%;
		line-height: 18px;
		text-align: center;
		cursor: pointer;
		margin: 0 2px;
	}
	.arrow a {
		margin-top: -31px;
		position: absolute;
		top: 50%;
		width: 28px;
		height: 62px;
		background: rgba(0,0,0,0.3);
		color: #fff;
		text-align: center;
		font: 400 22px/62px "simsun";
	}
	.arrow a:hover {
		background: rgba(0,0,0,0.7);
	}
	.arrow-lift {
		left: 0;
		border-radius: 0 10px 10px 0;
	}
	.arrow-right {
		right: 0;
		border-radius: 10px 0 0 10px;
	}
	.main-news {
		float: right;
	}
	.main-news-top {
		width: 248px;
		height: 372px;
		border: 1px solid #e4e4e4;
		margin: 12px 0 5px 0;
		overflow: hidden;
	}
	.main-news-top-faster {
		height: 163px;
		border-bottom: 1px dashed #e4e4e4;
	}
	.main-news-top-faster-title {
		padding: 0 15px;
		height: 32px;
		border-bottom: 1px dotted #e8e8e7;
	}
	.main-news-top-faster-title h3 {
		float: left;
		font :400 16px/32px "microsoft yahei";
	}
	.main-news-top-faster-title a {
		float: right;
		line-height: 32px;
		font-family: "consolas";
	}
	.main-news-top-faster-con {
		padding: 5px 0 0 15px;
	}
	.main-news-top-faster-con li {
		line-height: 24px;
	}
	.main-news-top-faster-con a {
		font: 400 14px/24px "microsoft yahei";
	}
	.main-news-top-faster-con span {
		font-weight: 700;
		margin-right: 5px;
	}
	.main-news-top-money ul {
		width: 260px;
	}
	.main-news-top-money li {
		position: relative;
		float: left;
		width: 62px;
		height: 70px;
		border: 1px solid #e8e8e7 ;
		margin-top: -1px;
		margin-left: -1px;
		
	}
	.main-news-top-money a {
		display: block;
		width: 62px;
		height: 30px;
		padding-top: 40px;
		text-align: center;
		line-height: 30px;
	}
	.main-news-top-money i {
		position: absolute;
		width: 25px;
		height: 25px;
		top: 13px;
		left: 18px;
		background: url(../images/fly.png) no-repeat;
	}
	.main-news-top-money .main-news-top-money-icon1 {
		background-position: 0 -25px;
	}
	.main-news-top-money .main-news-top-money-icon2 {
		background-position: 0 -50px;
	}
	.main-news-top-money .main-news-top-money-icon3 {
		background-position: 0 -75px;
	}
	.main-news-top-money .main-news-top-money-icon4 {
		background-position: 0 -100px;
	}
	.main-news-top-money .main-news-top-money-icon5 {
		background-position: 0 -125px;
	}
	.main-news-top-money .main-news-top-money-icon6 {
		background-position: 0 -150px;
	}
	.main-news-top-money .main-news-top-money-icon7 {
		background-position: 0 -175px;
	}
	.main-news-top-money .main-news-top-money-icon8 {
		background-position: 0 -200px;
	}
	.main-news-top-money .main-news-top-money-icon9 {
		background-position: 0 -225px;
	}
	.main-news-top-money .main-news-top-money-icon10 {
		background-position: 0 -250px;
	}
	.main-news-top-money .main-news-top-money-icon11 {
		background-position: 0 -275px;
	}
	/* main结束 */
	.sub-banner {
		position: relative;
	}
	.sub-banner a {
		position: absolute;
		width: 100%;
		height: 644px;
		background: url(../images/subbanner.jpg) no-repeat center;
	}
	/* today开始 */
	.today {
		position: relative;
		padding: 10px 0 20px 0;
	}
	.today-left {
		float: left;
	}
	.today-left a {
		display: block;
		width: 210px;
		height: 151px;
		background: url(../images/pic1.jpg);
	}
	.today-right {
		position: relative;
		float: right;
		width: 1000px;
		height: 151px;
	}
	.today-right ul {
		width: 420% ;
	}
	.today-right li {
		float: left;
	}
	/* today结束 */